<h1>Sign in</h1>

<% if @error.nil? == false %>
   <div id="error_explanation">
      <%= @error %>
   </div>
<% end %>

<%= form_for(@user, url: '/users/logging') do |f| %>
   <%= f.label :username, value: 'User name: ' %>
   <%= f.text_field :username, placeholder: 'username' %><br>
   <%= f.submit "Sign in" %>
 <% end %>